html
{
    /* height: 100%; */
    background-image: linear-gradient(#FC5E55, #FA4083);
}


body
{
    background-image: url(images/image-lion-background.png);
    background-position: top center;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 1.125rem;
}

.container
{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    /* min-height: 300px; */
}

header
{
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid lightgray;
}

nav a.mybutton
{
    margin-right: 20px;
}

.navboxes
{
    background-color: white;
    color: #FA4083;
    text-align: center;
    display: inline-block;
    width: 150px;
    padding: 11px 0px;
    position: relative;
}

.dropdown
{
    display: none;
}

.navboxes:hover .dropdown
{
    padding-top: 20px;
    display: block;
    position: absolute;
    /* margin-left: -30px; */

}

.navboxes a
{
    color: #FC5E55;
    text-decoration: none;
}

.dropdown .navboxes:hover
{
    background-color: rgb(211, 210, 210);
    transition-duration: 500ms;
}


main
{
    /* background-color: rgb(34, 219, 28); */
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    min-height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-bottom: 2rem; */
}

.herobox1
{
   /* background-color: aqua; */
   flex: 2;
   width: 50px;
   padding-right: 15%;
}

h1
{
    font-size: 3rem;
    font-family: 'Bree Serif', serif;
    padding-bottom: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.712);
}

p
{
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.mybutton
{
    color: #FA4083;
    text-decoration: none;
    background-color: white;
    padding: 17px 25px;
    border-radius: 15px 0px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.212);
    margin-bottom: 50px;
    margin-top: 0.75rem;
    font-weight: bolder;
}

.mybutton:hover
{
    box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.212);
}

/* @keyframes click 
{
    from {background-color: white;}
    to {background-color: rgb(245, 248, 33);}
} */

.mybutton:active
{
    /* box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.212); */
    background-color: rgb(192, 192, 192);
    /* padding: 16px 24px;
    margin-bottom: 52px; */
    /* transition-duration: 500ms; */
    /* animation-name: click; */
}

a.mybutton
{
    display: inline-block;
}

.heroimage1
{
    flex: 1;
}

.cards
{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

h2
{
    font-size: 1.75rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cards p
{
    font-size: 1rem;
}

.cards a
{
    color: white;
    text-decoration: none;
}

.card1
{
    width: 30%;
    background-image: url(images/image-background-card1.jpg);
    min-height: 300px;
    background-size: cover;
}

.cards i
{
    font-size: 4rem;
}

.card2
{
    width: 30%;
    background-image: url(images/image-background-card2.jpg);
    min-height: 300px;
    background-size: cover;
}

.card3
{
    width: 30%;
    background-image: url(images/image-background-card3.jpg);
    min-height: 300px;
    background-size: cover;
}

.card1, .card2, .card3
{
    padding: 30px 40px 10px 40px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.212);
}

.testimonials
{
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tmonialbox
{
    border: 1px solid white;
    padding: 2rem 3rem;;
    width: 37%;
    margin: 10px 0px

}



